/* Header */
header {
    margin-top: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;

}

.navbars {
    display: flex;
    gap: 25px;
}

.navbars li {
    list-style: none;
}


.navbar {
    color: #575757;
    font-weight: 550;
    cursor: pointer;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 20px;

}

.register {
    color: white;
    background-color: #1D4ED8;
    border: none;
    border-radius: 6px;
    padding: 13px 40px;
    font-weight: 550;
    cursor: pointer;
    font-size: 15px;
}

/* header end */
/* banner */
.banner {

    background-position: center;
    background:
        linear-gradient(rgba(0, 0, 0, 0.6)),
        url("./assets/banner.jpg");
    background-size: cover;
    height: 900px;
    align-items: center;
    text-align: center;
    margin-top: 25px;



    background-repeat: no-repeat;
    color: white;


}

.code {
    color: white;
    font-size: 80px;
    padding-top: 100px;
}

.banner p {
    font-size: 20px;
    font-weight: 400;
    max-width: 800px;
    line-height: 1.5;

}

.conference {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.register-2 {
    color: white;
    background-color: #1D4ED8;
    border: none;
    border-radius: 6px;
    padding: 20px 55px;
    font-weight: 550;
    font-size: 20px;
    margin-top: 400px;
    cursor: pointer;


}

/* banner end */
/* speaker section */
.speakers {
    margin-top: 40px;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.speakers h1 {
    font-size: 50px;
    color: #000102;


}



.speaker {
    border: 1px solid rgb(224, 221, 221);
    border-radius: 7px;
    width: 644px;
    height: 460px;



}

.persons {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    gap: 30px;


}

.about-speaker {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.passion {
    color: #2563EB;
    font-size: 13px;
}

.about-speaker h4 {
    color: #0D1B2A;
    font-size: 18px;
}

.rule-in-company {
    color: #575757;
    font-size: 15px;
}

/* speaker section end */
/* secure section */
.secure {
    color: #0D1B2A;
    text-align: center;
}

.secure-section {
    margin-top: 100px;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pricing-deadline {
    color: #575757;
    font-size: 13px;
    font-weight: 550;
}

.content {
    display: flex;
    text-align: left;
    gap: 20px;
    justify-content: center;
}

.pricing-standard {
    border: 1px solid rgb(224, 221, 221);
    border-radius: 7px;
    width: 360px;
    height: 410px;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}



.dollar {
    color: #0D1B2A;
    font-size: 40px;
}

.person-type {
    color: #888888;
    font-size: 12px;
}

.price {
    border-bottom: 1px solid rgb(151, 152, 153);
    padding-bottom: 20px;
}

.list li {
    color: #333333;
    font-size: 15px;

}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}

.list li::marker {
    color: #2563EB;
}

.get {
    border: 2px solid #2563EB;
    color: #2563EB;
    border-radius: 5px;
    background-color: white;
    padding: 15px 20px;
    cursor: pointer;
}

.pro-dollar {
    color: white;
}

.pricing-pro {
    background-color: #0D1B2A;
}

.pricing-pro li {
    color: #FFFFFF;
}

.get-pro {
    background-color: #2563EB;
    color: white;
}

.pricing-team {
    background-color: #eeeff1;

}

.pricing-team li {
    color: #333333;
}

.contact {
    border: 2px solid black;
    color: black;
}

.pro-price {
    color: #93C5FD;
}

.price-pro {
    border-bottom: 1px solid #E5E7EB;
    padding-bottom: 20px;
}

/* secure section end */
/* relevant section */
.relevant-sec {
    margin-top: 90px;
    background-color: #EDE9FE;
    border: 5px dashed #7C3AED;
    text-align: center;
    padding: 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.relevant-sec h1 {
    color: #7C3AED;
    font-size: 40px;

}

.schedule {
    display: flex;
    justify-content: space-around;

}

.schedule p {
    line-height: 1.8;
    color: #9F67EA;
    font-weight: 600;
    font-size: 18px;
}

/* relevant section end */
/* footer */

footer {
    margin-top: 80px;
    background-color: #0D1B2A;
    padding: 30px 0px;




}

.footer-div {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 20px 0px;
    justify-content: space-between;

}

.icon {
    color: white;
    font-size: 20px;


}

.copyright {
    color: #FFFFFF;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

i {
    cursor: pointer;
}

/* The end */